%h1 Listing Varieties
- if @varieties.empty?
  %p No rice varieties found
- else
  %table.table.table-striped
    %tr
      %th Name
      %th Common Name
      %th Line Designation
      %th Year Approved
      %th Breeding Institution
      %th Buy Price (per ha)
      %th Sell Price (per ha)
      %th Actions
    - @varieties.each do |variety|
      %tr
        %td= link_to variety.name, variety
        %td= variety.common_name
        %td= variety.line_designation
        %td= variety.year_approved
        %td= variety.breeding_institution.name
        %td.money-cell= number_to_currency variety.buy_price
        %td.money-cell= number_to_currency variety.sell_price
        %td
          = link_to "View", variety, class: "btn"
          - if user_signed_in? and current_user.can_plant?
            = link_to "Buy Seedlings", plant_variety_url(variety), method: :post, confirm: "Are you sure you want to plant this?", class: "btn"
