%h1= @variety.name

%p
  %strong Common Name:
  %br
  = @variety.common_name
%p
  %strong Line Designation:
  %br
  = @variety.line_designation
%p
  %strong Year Approved:
  %br
  = @variety.year_approved
%p
  %strong Breeding Institution:
  %br
  = @variety.breeding_institution.name
