%h1= @variety.name

%p
  %strong Common Name:
  %br
  = @variety.common_name
%p
  %strong Line Designation:
  %br
  = @variety.line_designation
%p
  %strong Year Approved:
  %br
  = @variety.year_approved
- if @variety.breeding_institution
  %p
    %strong Breeding Institution:
    %br
    = @variety.breeding_institution.name
%p
  %strong Maturity
  %br
  = @variety.maturity
  days
%p
  %strong Max Yield (per ha)
  %br
  = @variety.max_yield
%p
  %strong Buy Price (per ha)
  %br
  = number_to_currency @variety.buy_price
%p
  %strong Sell Price (per ton)
  %br
  = number_to_currency @variety.sell_price

- if user_signed_in? and current_user.can_plant?
  %p= link_to "Buy Seedlings", plant_variety_url(@variety), method: :post, confirm: "Are you sure you want to plant this?", class: "btn"
