.row-fluid
  .main-container.span8
    %h1 Welcome to Araro!
    %p

    %p
      - if user_signed_in?
        - if current_user.day == 1
          = link_to "Start Game", game_url, class: "btn btn-primary"
        - else
          = link_to "Continue Game", game_url, class: "btn btn-primary"
      - else
        = link_to "Sign Me Up!", new_user_registration_url, class: "btn btn-primary"
        = link_to "Log in", new_user_session_url, class: "btn"

    %p
      %em Project Araro
      is a web app port of 
      %strong Ricegrow
      a rice growing simulation program.
    %p
      %strong= link_to "Fork this project on Github!", "https://github.com/bryanbibat/araro"
  .top-ten.span4
    %h3 Top players
    %table.table.top-players.table-condensed.table-hover
      - @top_players.each do |user|
        %tr
          %td= gravatar_for user
          %td= user.display_name
          %td.money-cell= number_to_currency user.cash
