%p
  Today is Day
  = user.day

%p
  You have
  = "#{number_to_currency(user.cash)}"
  and
  = pluralize(user.farm_size, "hectare")
  of farmland.

%p
  = link_to "proceed to next day...", next_day_game_url, method: :post, confirm: "Are you sure you want to proceed to the next day?"
