%p
  Today is Day
  = user.day

%p
  You have
  = "#{number_to_currency(user.cash)}"
  and
  = pluralize(user.farm_size, "hectare")
  of farmland.

%p
  You can do
  = pluralize(user.actions_left, "more action")
  this week.

- unless user.plots.empty?
  - user.plots.each do |plot|
    %h3 Plot details

    %p
      %s Collapsible details here

    - if plot.plow.blank?
      %p Plot now ready for plowing.

      %p
        = link_to "Rent Tractor for Plowing", tractor_game_url, method: :post, confirm: "Are you sure you want to rent a tractor?", class: "btn btn-primary"
        = link_to "Rent Carabao for Plowing", carabao_game_url, method: :post, confirm: "Are you sure you want to rent a tractor?", class: "btn btn-primary"

    - elsif plot.days < plot.variety.maturity
      %p 
        Plot is planted and will mature in
        = "#{pluralize(plot.days_left, "day")} (#{pluralize(plot.weeks_left, "week")})."
      %p= "Expected yield is #{pluralize(plot.expected_yield, "ton")}."
        
      - if plot.possible_event
        %p
          Possible event for this week:
          = plot.possible_event
      - if plot.current_event == "typhoon"
        %h3 Typhoon Warning

        %p A severe typhoon is expected to arrive this week.
        %p= link_to "Hope it doesn't do too much damage", typhoon_game_url, method: :post, class: "btn btn-primary"
        
    - else
      %p Plot now ready for harvesting and milling.

      %p= link_to "Harvest then Machine Mill", machine_mill_game_url, method: :post, confirm: "Are you sure you want to use a machine mill?", class: "btn btn-primary"
- else
  %p= link_to "Browse seedlings", varieties_url, class: "btn btn-primary"

- if user.plots.empty? or user.plots[0].current_event.blank?
  %p
    = link_to "proceed to next week...", next_week_game_url, method: :post, confirm: "Are you sure you want to proceed to the next week?", class: "btn"

%p
  = link_to "RESET GAME", reset_game_url, method: :post, confirm: "Are you sure you want to reset the game?", class: "btn btn-small"
